* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}

p {
  font-size: 2rem;
  color: hsl(0 0% 100% / 0.2);
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, red, blue);
}
  