* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  counter-reset: counter-name;
}

.section::before {
  counter-increment: counter-name;
  content: counter(counter-name) ' ';
}
