* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.menu-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid red;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: black;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before{
  transform: translateY(-12px);
}

.menu-icon::after{
  transform: translateY(12px);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon {
  background-color: transparent;
  /* transform: rotate(360deg); */
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon:before {
  transform: rotate(45deg);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon:after {
  transform: rotate(-45deg);
}